/* External CSS File */

/* Body styles */
body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

/* mr-text title styles */
.title {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    display: block;
    color: #333;
}

/* mr-text paragraph styles */
.paragraph {
    margin-bottom: 20px;
    font-size: 1em;
    line-height: 1.6;
    display: block;
    width: 90%;
    text-align: left;
    margin: 20px auto;
    color: #444;
}

/* mr-panel styles */
.my-panel {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    width: 60vw;
    height: 70vh;
    overflow-y: auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
