/* External CSS File */

/* Body styles */
body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

/* mr-text title styles */
.title {
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    display: block;
    color: #333;
}

/* mr-text paragraph styles */
.paragraph {
    margin-bottom: 20px;
    font-size: 1.1em;
    line-height: 1.8;
    display: block;
    width: 85%;
    text-align: justify;
    margin: 20px auto;
    color: #444;
}

/* mr-panel styles */
.my-panel {
    background-color: #f2f2f2;
    padding: 30px;
    border-radius: 10px;
    width: 90vw;
    height: 75vh;
    overflow-y: auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Loading text styles */
.loading-text {
    font-size: 1.5em;
    color: #888;
    text-align: center;
}
